---
const { variation, color } = Astro.props;

const variationType: Record<string, string> = {
  outline:
    "border-2 border-black-500 text-black bg-transparent hover:bg-gray-800 hover:text-white",
};

const colorType: Record<string, string> = {
  primary: "bg-blue-500 text-white hover:bg-blue-600",
  blue: "bg-blue-500",
  red: "bg-red-500",
  green: "bg-green-500",
  black: "bg-gray-800 text-white hover:bg-black border-2 border-black",
  default: "bg-transparent text-black",
};
---

<button
  class={`text-sm md:text-lg cursor-pointer gap-4 px-4 py-2 rounded-xl font-semibold transition flex items-center justify-center ${variationType[variation]} ${colorType[color] || colorType.default} `}
>
  <slot>Button</slot>
</button>
