---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout id="companies" style="bg-[#171717]">
  <span slot="title" class="text-white">Empresas con las que trabajamos</span>
  <span slot="description" class="text-gray-300">
    Representamos las marcas más reconocidas del mercado
  </span>
</SectionLayout>
