---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout>
  <span slot="title">Contáctanos</span>
  <span slot="description">
    Estamos aquí para ayudarte. Contáctanos por cualquiera de estos medios
  </span>
</SectionLayout>
