<div class="bg-[#171717]">
  <div class="flex flex-col items-center justify-center py-5 gap-5">
    <span class="text-2xl font-bold text-center text-white">
      Yudith Autoservicio
    </span>
    <span class="text-sm text-gray-400">
      &copy; 2020 Yudith Autoservicio. Todos los derechos reservados.
    </span>
  </div>
</div>
