---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout id="products">
  <span slot="title">Nuestros Productos</span>
  <span slot="description">
    Descubre nuestra amplia gama de productos para tu negocio
  </span>
</SectionLayout>
