@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;600&display=swap");

@import "tailwindcss";

@theme {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;
}
