---
import "../assets/global.css";
import Banner from "../components/Banner.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta
      name="generator"
      content="Autoservicio Mayorista Yudith Podes encontrar precios económicos, variedad de productos y promociones acorde a tu necesidad. ¡Trabajando desde el 2004!"
    />

    <title>Yudith Autoservicio Mayorista</title>
  </head>
  <body class="overflow-x-hidden">
    <Navbar />
    <Banner />
    <slot />
  </body>
</html>
