---
const { id, style } = Astro.props;
---

<section
  id={id}
  class={`w-full pt-30 py-20 flex flex-col justify-center items-center gap-4 ${style}`}
>
  <h2 class="font-heading text-4xl md:text-5xl text-center font-bold">
    <slot name="title" />
  </h2>

  <p class="text-md md:text-lg mb-8 max-w-4xl text-center">
    <slot name="description" />
  </p>

  <slot />
</section>
